<div
    class="relative bg-white p-2 shadow-md mx-auto w-full max-w-md rounded-2xl border-dashed border-2 border-indigo-500"
    style="margin-top: 10px"
    >
    <div class="mx-auto flex w-full max-w-md flex-row justify-around"
        style="align-items: center;"
    >
        <a href="#" class="text-sm">
            Home
        </a>
        <a href="#" class="text-sm">
            Home
        </a>
        <a href="/aboutus" class="text-sm">
            Sobre Mi
        </a>
    </div>
</div>


