<div class="relative bg-white p-4 shadow-md mx-auto w-full max-w-md rounded-3xl border-dashed border-4 border-indigo-500 navbar-container"
    style="margin-top: 20px">
    <div class="mx-auto flex w-full max-w-md flex-row justify-around" style="align-items: center;">
        <ng-container *ngIf="authService.isLoggedIn(); else notLoggedIn">
            <a (click)="authService.LogOut()" href="/login" class="text-sm">
                Cerrar sesión
            </a>
        </ng-container>

        <ng-template #notLoggedIn>
            <a href="/login" class="text-sm">
                Iniciar sesión
            </a>
        </ng-template>

        <a href="/home" class="text-sm">
            Home
        </a>
        <a href="/aboutus" class="text-sm">
            Sobre Mi
        </a>
    </div>
</div>