<div class="slider-thumb1"></div>
<div class="slider-thumb2"></div>
<div class="container" (click)="focusTextarea()">
  <div class="countdown-container">{{countdown}}</div>
  <div class="quote-container">
    <div id="quoteDisplay">
      <span class="letter" *ngFor="let quoteChar of arrayQuote" [ngClass]="{
        'correct': quoteChar.correct === true,
        'incorrect': quoteChar.correct === false
      }">
        {{ quoteChar.character }}
      </span>
    </div>
  
    <textarea
    #hiddenTextarea
      [(ngModel)]="userInput"
      (input)="onInput()"
      rows="1"
      cols="1"
      style="opacity: 0; position: absolute; left: -9999px;" 
    ></textarea>
  </div>
</div>
