.container {
    margin: 4% auto;
    border: dashed #4f46e5 4px;
    height: 75%;
    width: 1200px; 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 3%;
    z-index: 3;
    flex-wrap: wrap;
    align-items: center;
    background-color:  #ffff;
}

.countdown-container {
  font: 600;
  display: inline-block;
  width: fit-content;
  min-width: 1em;
  font-size: 5em;
  margin: 0px;
  line-height: 35px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
  text-decoration: underline;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.quote-container {
  display: flex;
  text-align: center;
  font-family: Arial, sans-serif;
  width: 100%;
  letter-spacing: 0px;
  justify-content: center;
  margin: auto;
}

.letter { 
  font: 600;
  display: inline-block;
  width: fit-content;
  min-width: 1em;
  font-size: 3em;
  width: 0em;
  margin: 0px;
  line-height: 2em;
}


.slider-thumb1::before {
  left: 5%;
  top: 1%;
  width: 600px;
  height: 650px;
}

.slider-thumb2::before {
  left: 70%;
  top: 40%;
  width: 550px;
  height: 700px;
}