
<div class="slider-thumb1"></div>
<div class="slider-thumb2"></div>
<section>
  <!-- Container -->
  <div class="mx-auto w-full max-w-8xl px-5 py-12 md:px-10 md:py-16 lg:py-20 container">
    <!-- Component -->
    <div class="flex flex-col gap-8 lg:flex-row lg:gap-10">
        <!-- Content -->
        <div class="flex flex-col gap-8 lg:w-3/5">
          <h2 class="mb-8 text-4xl font-bold text-indigo-600 md:text-5xl">Sobre mi</h2>

          <p class="text-sm text-4xl sm:text-base"> 

            Me llamo Alejo Falcone y tengo 22 años. Soy apasionado del desarrollo y recientemente comencé a trabajar en el rubro como Junior Cloud Developer. Estoy emocionado de continuar aprendiendo y creciendo en este campo.
            <br><br>
            <b>Antecendetes</b> 
            <br><br>
            Siempre me llamó la atención el desarrollo backend, pero hace un tiempo que le estoy encontrando el gusto al frontend. Me parece interesante cómo se pueden combinar ambos para crear experiencias de usuario completas y atractivas.
            <br><br>
            <b>Educación</b> 
            <br><br>
            Actualmente, estoy cursando el cuatrimestre de la Tecnicatura en Programación en la UTN. Mi objetivo es continuar mi formación y comenzar otra carrera el año que viene. Estoy ansioso por seguir aprendiendo y explorando nuevas oportunidades en el mundo del desarrollo.
            <br><br>
            <b> TypeRacer </b> 
            <br><br>
            En este juego pondremos a prueba tu velocidad de escritura. Tendras 60 segundos para acertar la mayor cantidad de letras que puedas.
          </p>
          <a href="https://www.linkedin.com/in/alejo-falcone/" class="w-36 rounded-md bg-black px-6 py-3 text-center font-semibold text-white"> LinkedIn </a>
          <a href="https://www.linkedin.com/in/alejo-falcone/" class="w-36 rounded-md bg-black px-6 py-3 text-center font-semibold text-white"> Github </a>

          <!-- Divider -->
          <div class="my-2 h-px w-full bg-black"></div>
        </div> 
        <!-- Image -->
        <div class="w-full rounded-md max-[250px]:h-[250px] lg:w-1/5" style="height: 220px; width:220px; overflow: hidden; display: flex; justify-content: center; align-items: center;">
          <img [src]="imageUrl" alt="Imagen de Perfil" style="width: 200px; height: 200px; object-fit: cover;" class="rounded-md">
        </div>
      </div>
    </div>
  </section>