<div class="home-container">
  <div class="cards-container">

    <app-homecard 
    [title]="'MAYOR O MENOR'" 
    [description]="'En el juego de Mayor o Menor, debes adivinar si la carta siguiente será mayor o menor que la carta actual. Si aciertas ganarás 1 punto, caso contrario perderás 1 ¿Estás listo para este desafío?'" 
    [path]="'/mayoromenor'"
    ></app-homecard>

    <app-homecard 
    [title]="'AHORCADO'" 
    [description]="'En este juego, debes adivinar la palabra misteriosa con un maximo de 6 erores. Si logras adivinar la palabra recibiras 10 puntos, si pierdes 0 ¿Estás listo para probar tu suerte?'" 
    [path]="'/ahorcado'"
    ></app-homecard>

    <app-homecard 
    [title]="'TRIVIA'" 
    [description]="'Este juego, esta basado en la famosa serie de Rick y Morty. Podras adivinar los nombres de más de 800 personajes'" 
    [path]="'/trivia'"
    ></app-homecard>

    <app-homecard 
    [title]="'Typeracer'" 
    [description]="'En este juego, pondremos a prueba tu velocidad de escritura'" 
    [path]="'/typeracer'"
    ></app-homecard>

  </div>
  <div class="chat-container">
    <app-chat></app-chat>
  </div>
</div>