<div class="home-container">
  <div class="cards-container">
    
    <div class="slider-thumb1"></div>
    <div class="slider-thumb2"></div>

    <app-homecard 
    [title]="'MAYOR O MENOR'" 
    [description]="'En el juego de Mayor o Menor, debes adivinar si la carta siguiente será mayor o menor que la carta actual. Si aciertas ganarás 1 punto, caso contrario perderás 1 ¿Estás listo para este desafío?'" 
    [path]="'/mayoromenor'"
    [btnText]="'Jugar'"
    ></app-homecard>

    <app-homecard 
    [title]="'AHORCADO'" 
    [description]="'En este juego, debes adivinar la palabra misteriosa con un maximo de 6 erores. Si logras adivinar la palabra recibiras 10 puntos, si pierdes 0 ¿Estás listo para probar tu suerte?'" 
    [path]="'/ahorcado'"
    [btnText]="'Jugar'"
    ></app-homecard>

    <app-homecard 
    [title]="'TRIVIA'" 
    [description]="'Este juego, esta basado en la famosa serie de Rick y Morty. ¿Recúerdas los nombres de los personajes? Hay más de 800'" 
    [path]="'/trivia'"
    [btnText]="'Jugar'"
    ></app-homecard>

    <app-homecard 
    [title]="'TYPERACER'" 
    [description]="'En este juego, pondremos a prueba tu velocidad de escritura y tu conocimiento de inglés, tendrás 60 segundos para escribir la mayor cantidad de palabras que puedas. No debes presionar nada, ¡Solo escribe!'" 
    [path]="'/typeracer'"
    [btnText]="'Jugar'"
    ></app-homecard>

    <app-homecard 
    [title]="'ENCUESTA'" 
    [description]="'Contanos como fue tu experiencia utilizando nuestra sala de juegos. Tu opinión nos ayuda a mejorar'" 
    [path]="'/survey'"
    [btnText]="'Completar encuesta'"
    ></app-homecard>

    <app-homecard 
    [title]="'PUNTUACIONES'" 
    [description]="'Accede a la tabla de puntuaciones global'" 
    [path]="'/table'"
    [btnText]="'Ver'"
    ></app-homecard>

  </div>
  <div class="chat-container">
    <app-chat></app-chat>
  </div>
</div>