<div class="card-container">
    <div class="title">{{title}}</div>
    <div class="description"> <b>Descripcion:</b> {{description}}</div>
    <button (click)="goToGame()" type="submit"
    class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-slate-950 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
    {{btnText}}</button>
  <div class="flex items-center display- justify-between">
</div>