.container {
    margin: 4% auto;
    border: dashed #4f46e5 4px;
    height: 75%;
    width: 100vh; 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 20px;
    justify-content: center;
    padding: 3%;
    background-color:  #ffff;
}

.form > * {
    margin-top: 1.5vh;
}

.label {
    font-size: medium;
    font-weight: 600 ;
    margin-bottom: 0.2vh;
    color: #4f46e5;
}

.rating-container {
    display: flex;
    justify-content: space-evenly;
}

.text-danger {
    color: red;
    font-weight: 600 ;
}

.text-danger-container {
    height: 1em;
    margin-bottom: 1vh;
}

textarea { 
    resize: none;
}

.slider-thumb1::before {
    left: 5%;
    top: 1%;
    width: 600px;
    height: 650px;
  }
  
  .slider-thumb2::before {
    left: 70%;
    top: 40%;
    width: 550px;
    height: 700px;
  }