.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #02020B;
}

.login-card {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #02020B;
    border: solid 3px white;
}   


::ng-deep mat-form-field {
    background-color: #02020B;
    width: 60%;
    border-radius: 100px;
}
